@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

html {
  scroll-behavior: smooth;
}

.image-render-fix {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
}